.menuHorizontal{
text-align: center;
color:blueviolet
}
.titulo{
text-align: center;
color:blue
}

.tablaPrincipal{
    margin: auto;
    margin-top: 200px;
    color: rgb(98, 97, 97);
}

.header{
    margin-left: 100px;
    color:rgb(88, 88, 89)
}
.footer{
    text-align: center;
    color:rgb(88, 88, 89);
    margin-top: 100px;
}
.foto{
   text-align: center;
    margin-top: 100px;
   }

.nombre{
    text-align: center;
    margin-top: 20px;
 }

 
.perfil{
    text-align: center;
    margin-top: 20px;
 }

 .separacion{
    text-align:center;
    color:rgb(33, 33, 153);
    margin-top: 20px;
 }

 
.Especialidad{
    text-align: center;
    margin-top: 30px;
 }

 
.Experiencia{
    text-align: center;
    margin-top: 30px;
 }